<a href="https://colab.research.google.com/github/kidkmon/Sentiment-Analysis-TripAdvisor/blob/main/Analise_sentimentos_TripAdvisor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Configurações

In [ ]:
from google.colab import drive # monta ambiente para salvar dados gerados no notebook

import pandas as pd # biblioteca para processamento dos dados
import numpy as np # biblioteca de algebra linear

import urllib.request # biblioteca que trabalha com requisições HTTP
import json

import requests

In [ ]:
# Versão das bibliotecas utilizadas

!python --version
print("Pandas", pd.__version__)
print("Numpy", np.__version__)

Python 3.6.9
Pandas 1.1.4
Numpy 1.18.5

In [ ]:
def load_data(url, encoding="utf-8"):
  header = ['title', 'reviewId', 'restaurantId', 'author', 'reviewBody', 'language', 'mobileDevice', 'userLocation', 'publicationDate', 'visitDate', 'ratingValue', 'itemReviewed', 'website', 'email', 'phoneNumber', 'averageRating']

  dat_file = urllib.request.urlopen(url)

  json_format_file = [json.loads(line) for line in dat_file]

  df = pd.DataFrame(json_format_file)

  df["website"] = [row["website"] for row in df["itemReviewed"]]
  df["email"] = [row["email"] for row in df["itemReviewed"]]
  df["phoneNumber"] = [row["phoneNumber"] for row in df["itemReviewed"]]
  df["averageRating"] = [row["averageRating"] for row in df["itemReviewed"]]

  return df

In [ ]:
df = load_data(url="http://tiagodemelo.info/datasets/dataset-v2.dat")

In [ ]:
df.head()

                                  title  ... averageRating
0                               Jantar   ...           4.5
1                  Uma boa experiência.  ...           4.5
2                    Otimo self service  ...           4.5
3  O sorvete mais tradicional do estado  ...           4.0
4                     Melhor hamburger!  ...           4.5

[5 rows x 16 columns]